<footer class="expand-lg text-white bg-secondary pb-1">
    <div class="container">
    <p class="text-center pt-3">Todos los derechos reservados @2021</p>
        <ul>

            <li class="text-left">
                <%= link_to "D.Latam", url="https://desafiolatam.com", class: 'text-white' %>
            </li>

        </ul>
    </div>

</footer>

