<footer class="expand-lg text-white bg-dark pb-4 nav-bg new-text mt-5">
    <div class="container py-3">
    <p class="text-center">Todos los derechos reservados @2021</p>
        <ul>
            <li class="float-right">
                <%= link_to "Andres Acevedo", url="https://c.tenor.com/kZqQqmobqZYAAAAC/pepe-dance.gif", target: "_blank", class: 'text-white' %>
            </li>

            <li class="float-left">
                <%= link_to "D.Latam", url="https://desafiolatam.com", target: "_blank", class: 'text-white' %>
            </li>

        </ul>
    </div>
</footer>

