/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= stub "active_admin"
 *= require_tree .
 *= require_self
 */
body {
    background-image: url("main-bg.jpg");
    background-size: 100%;
}
 

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
    font-style: italic; 
    width: 100%;
}

.scroll {
    color: #fff;
    margin-top: 10px;
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: rgba(53, 215, 221, 0.8)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #222222;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}



.nav-bg {
    background: url(nav-bg.png);
   
}

.nav-logo{
    max-height: 100px;
    max-width: 100px;
    padding-bottom: 20px;
  
}

.content-color {
    background-color: #E5E5E5;
}
.card-color {
    background-color: #CCCCCC;
}

.border-color {
    border-color: #CCCCCC;
}

.text-fix{
    color: #fff;
    font-size: 40px;
}

.new-text {
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.shadow-text {
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.text-devise{   
    font-size:20px;
    text-shadow: 1px 0 0 #54C8FB, -1px 0 0 #54C8FB, 0 1px 0 #54C8FB, 0 -1px 0 #54C8FB, 1px 1px #54C8FB, -1px -1px 0 #54C8FB, 1px -1px 0 b#54C8FB, -1px 1px 0 #54C8FB;
}

.text-pag{
    color: red;
}